@font-face {
    font-family: 'Droid Arabic Naskh';
    src: url('fonts/DroidNaskh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    src: url('fonts/DroidNaskh-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amiri-quran';
    src: url('fonts/amiri-quran.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body
{
    direction: rtl;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Droid Arabic Naskh';
    font-style: normal; 
}

nav {
    padding-right: 10px;
    background: rgba(45, 45, 45, 0.7);
    color: #fff;
    height: 40px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    display: block;
    height: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;

}

ul > li {
    margin-left: 15px;
    display: block;
    position: relative;
    float: right;
    -webkit-transition-duration: 0.55s;
    transition-duration: 0.5s;

}

li > ul { display: none; }

nav > ul > li >  a {
    text-align: center;
    display: block;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
    padding-top: 10px; 
    height: 40px;
    white-space: nowrap;
}

nav > ul > li >  ul { width: 180px; }

nav > ul > li >  ul a {
    text-align: center;
    display: block;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
    padding-top: 10px; 
    height: 30px;
    white-space: nowrap;
}

nav > ul > li >  ul a:hover { background: rgba(64, 64, 64, .5); }

li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li { float: none; }
li:hover a { background: rgba(45, 45, 45, 0.7); }
li:hover li a:hover { color: #eee; }

a {
    text-decoration: none;
    color: #fff;
    transition: all 185ms ease-in;
}

a:hover { color: #eee; }

#footer {
    padding-top: 5px;
    color: #fff;
    bottom: 0px;
    right: 0px;
    position: absolute;
    left: 0px;
    background: rgba(45, 45, 45, 0.7);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.searcharea {
    text-align: center;
    height: 20%;
    padding-top: 10%;
    width: 50%;
    margin: 0 auto;
}

.searchform {
    text-align: center;
}

.searchtext {
    font-family: 'Droid Arabic Naskh';
    font-size: 1.2em;
    height: 50px;
    border: 1px solid #333399;
    border-left: 0;
    width: 50%;
    padding-right: 5px;
    box-sizing: border-box;
}

.searchbutton {
    display: inline-block;
    vertical-align: top;
    background: #3366CC repeat scroll 0% 0%;
    border: none;
    color: #FFF;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-right: -6px;

}

.verse {
    padding-top: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .8), -2px -2px 8px rgba(0, 0, 0, .8);
    text-align: center;
    font-family: amiri-quran;
}

.icon {
    font-size: 24px;
    margin-top:-25px;
}

#search_icon { font-size: 18px; }

#facebook-page:before, #twitter-page:before, #github-page:before {
    font-family: 'FontAwesome';
    font-size: 30px;
}

#facebook-page:before { content: '\F082'; }
#twitter-page:before { content: '\F099'; }
#github-page:before { content: '\F09B'; }

#social-buttons {
    display: inline;
    float: left;
}

#menu { float: right; }
@media screen and (max-width: 1100px)
{
    ul li a  {
        font-size: 12px;
    }
    #facebook-page:before, #twitter-page:before, #github-page:before {
        font-size: 20px;
    }
}
@media screen and (max-width: 925px)
{
    nav { height: 100px; }
}
